.container-products-gift {
  @media (min-width: $desktop-width) {
   display: grid;
   grid-template-columns: 5fr 1fr;
   grid-gap: 79px;
   margin: 80px 110px;
   align-items: flex-end;
  }
}

.add-products {
  font-family: $oswald;
}

.add-products__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 25px 0;
  margin-bottom: 36px;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 68px 0;
  }
}

.add-products__list {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.add-product {
  display: grid;
  grid-template-rows: 2fr 1fr;
  padding: 13px 1px;
  padding-bottom: 19px;
  border-top: 1px solid $basic-dark-grey;
  border-bottom: 1px solid $basic-dark-grey;

  @media (min-width: $tablet-width) {
    padding: 26px 38px;
    border: 1px solid $basic-dark-grey;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    border-left: none;
    border-right: none;
  }
}

.add-product__info {

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
  }
}

.add-product__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;

  @media (min-width: $desktop-width) {
    width: 120px;
    margin: 0;
    margin-right: 160px;
  }
}

.add-product__line {
  display: grid;
  grid-template-columns: 1fr 5fr;
  font-family: $arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.add-product__column {
  text-align: left;
  width: 120px;

  @media (min-width: $tablet-width) {
    text-align: right;
  }
}

.add-product__column:nth-child(2) {
  text-align: right;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}

.add-product__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid $basic-green;
  min-width: 280px;
  height: 40px;
  background-color: $basic-green;
  text-decoration: none;
  color: white;
  margin: 0;

  @media (min-width: $tablet-width) {
    min-width: 632px;
  }

  @media (min-width: $desktop-width) {
    min-width: 244px;
  }
}
