.add-products {
  font-family: $oswald;
}

.add-products__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.add-products__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.add-product__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.add-product__table {
  font-family: $arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.add-product__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid $basic-green;
  padding: 8px 100px;
  background-color: $basic-green;
  text-decoration: none;
  color: white;
}
