.catalog__wrapper {
  margin: 0 30px;
}

.catalog__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.catalog__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
