.catalog__title {
  position: relative;
  font-family: $oswald, "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 27px auto;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}

.catalog__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.catalog__item {
  padding: 20px auto;
}
