.container-form__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container-form__item {
  margin: 6px 0;
}

.container-form__title {
  text-transform: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $basic-black;
  margin: 22px 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 57px 0;
  }
}

.container-form__comment {
  width: 280px;
  height: 130px;
  border: 1px solid $basic-light-grey;
  text-transform: uppercase;
  padding: 10px;

  @media (min-width: $tablet-width) {
    width: 95%;
  }
}

.container-form__finish {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.container-form__button {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid $basic-green;
  padding: 8px 74px;
  background-color: $basic-green;
  text-decoration: none;
  color: white;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 0;
    padding: 14px 45px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 0;
    padding: 13px 188px;
  }
}

.container-form__note {
  font-family: $arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  text-align: center;
  color: $basic-black;
}
