.container-form__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container-form__item {
  display: flex;
  align-items: center;
  margin: 6px 0;
}

.container-form__title {
  text-transform: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $basic-black;
  margin: 22px 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 57px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 69px 0
  }
}

.container-form__list-radio {
  border-top: 1px solid $line-grey;
  border-bottom: 1px solid $line-grey;
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    border: 1px solid $line-grey;
    padding: 25px 28px;
  }
}

.container-form__comment {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  height: 130px;
  border: 1px solid $basic-light-grey;
  text-transform: uppercase;
  padding: 10px;

  @media (min-width: $tablet-width) {
  }
}

.container-form__finish {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 32px 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.container-form__button {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid $basic-green;
  min-width: 280px;
  height: 40px;
  background-color: $basic-green;
  text-decoration: none;
  color: white;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    min-width: 282px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
    min-width: 568px;
  }
}

.container-form__note {
  font-family: $arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  text-align: center;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}
