.example {
  background-color: $basic-beige;
  margin: 0;
  padding: 25px 0;
}

.example__wrapper {
  margin: 0 20px;
}

.example__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  padding-bottom: 33px;
}

.example__description {
  font-family: $arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.example__form {
  border: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
  }
}

.example__form-legend {
  font-family: $oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.example__list {
  display: flex;
  justify-content: space-between;
}

.example__item {
  font-family: $arial;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}

.example-item__input {
  width: 124px;
}

.example__image {
  margin: 0;
  padding: 0;
}
