.page-footer {
  background-color: $basic-grey;
}

.social__list {
  list-style-type: none;
}

.copyright__link {
  text-decoration: none;
}

.copyright__name {
  font-family: $arial;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.4px;
  color: $basick-extra-dark-grey;
  text-decoration: none;
}
