.form-data {
  align-self: center;
}

.form-data__input {
  display: flex;
  flex-grow: 1;
  box-sizing: border-box;
  border: 1px solid $basic-light-grey;
  text-transform: uppercase;
  padding: 10px;
  margin: 0;
  margin-bottom: 13px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.form-data__input:last-child {
  margin-bottom: 0;
}

.container-form__list--contacts {
  @media(min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form-data__contacts {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-grow: 1;
    width: 472px;
  }
}
