.gift {
  background: url("../img/jpeg/gift-photo-mobile.jpg") $basic-green;
  background-repeat: no-repeat;
  background-size: 280px 289px;
  background-position: top;
  font-family: $arial, "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
  text-align: center;
  padding: 50px 0;
  margin: 35px auto;

  @media (min-width: $tablet-width) {
    background: url("../img/jpeg/gift-photo-tablet1.jpg") $basic-green;
    background-repeat: no-repeat;
    background-size: 708px 200px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    background: url("../img/jpeg/gift-photo-desktop.jpg") $basic-green;
    background-repeat: no-repeat;
    background-size: 245px 289px;
    background-position: bottom;
    width: 245px;
    height: 289px;
    align-items: center;
    align-self: end;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  .gift {
    background: url("../img/jpeg/gift-photo-mobile@2x.jpg") $basic-green;

    @media (min-width: $tablet-width) {
      background: url("../img/jpeg/gift-photo-tablet@2x.jpg") $basic-green;
    }

    @media (min-width: $desktop-width) {
      background: url("../img/jpeg/gift-photo-desktop@2x.jpg") $basic-green;
    }
  }
}

.gift__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin: 0 auto;
  }
}

.gift__image {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: auto 78px;
  }

  @media (min-width: $desktop-width) {
    vertical-align: bottom;
  }
}

.gift__description {
  width: 161px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: auto 78px;
    vertical-align: middle;
    justify-content: flex-end;
    align-items: center;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
}
