.gift {
  background: url(../img/JPEG/gift-photo-mobile.jpg);
  background-repeat: no-repeat;
  background-size: 280px 289px;
  background-position: top;
  font-family: "Arial";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: white;
  text-align: center;
}

.gift__wrapper {
  margin: 0 30px;
}
