.page-header {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 24px 30px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 53px 110px;
  }
}

.page-header__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.page-header__logo--logotype {
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin-right: 12px;
  }
}

.page-header__logo--name {
  margin: 0 25px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
