.map {
  position: relative;
  background-color: $basic-grey;
  margin: 0;
  padding: 0;
}

.map__legend {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 26px 20px;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    padding: 26px 71px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 25%;
    left: 110px;
    width: 420px;
    padding: 51px 76px;
  }
}

.map__legend--form {
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    background-color: $basic-grey;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-white;
  }
}

.map__description {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 171px;
    font-size: 20px;
    line-height: 21px;
  }
}

.map__address {
  display: flex;
  flex-direction: column;
  font-family: $arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 16px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 159px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
    @media (min-width: $desktop-width) {
      z-index: 4;
  }
}

.map__address-street {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.map__address-city {
  margin: 0;
  padding: 0;
}

.map__real{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  min-height: 362px;

  @media (min-width: $tablet-width) {
    max-height: 400px;
    min-height: auto;
  }
}

.map__real-responsive{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.map__image {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  z-index: -1;
}
