.page-header {
  display: flex;
  flex-direction: column;
  padding: 11px 20px;
  padding-bottom: 18px;
  border-bottom: 1px solid $line-grey;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 24px 30px;
    align-items: center;
    border: none;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding-top: 54px;
    margin: 0 110px;
  }
}

.page-header--no-border {
  border: none;
}

.page-header__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.page-header__logo-picture {
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin-right: 12px;
  }
}

.page-header__logo-name {
  margin: 0 25px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
