.promo {
  position: relative;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url(../img/jpeg/index-background-desktop.jpg);
  background-repeat: no-repeat;
  background-size: 320px 302px;
  background-position: top;
  font-family: $oswald;
  font-weight: 400;
  color: $basic-white;
  margin: 0;
  padding: 27px 35px;

  @media (min-width: $tablet-width) {
    background: transparent;
    color: $basic-black;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: -150px;
    z-index: -1;
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url(../img/jpeg/index-background-desktop.jpg);
    background-repeat: no-repeat;
    background-size: 720px 694px;
    background-position: 100% 0%;
  }
}

.promo__wrapper {
  margin: 7px 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 64px 83px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px;
    padding-top: 200px;
    padding-left: 80px;
  }
}

.promo__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding-top: 27px;
  text-align: center;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
  }
}

.promo__slogan {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  margin: 25px auto;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
  }
}

.promo__image {
  text-align: center;
  padding-top: 4px;
}

.promo__button {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid $basic-green;
  padding: 8px 72px;
  background-color: $basic-green;
  text-decoration: none;
  color: white;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 47%;
    font-size: 20px;
    line-height: 20px;
    padding: 14px 26px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    top: 63%;

  }
}
