.range-controls {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 0 20px;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 80%;
    left: 53%;

  }
}

.range-controls__scale {
  border: 1px solid $basic-dark-grey;
  width: 84px;
  height: 14px;
  border-radius: 10px;
  background-color: $basic-white;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    background-color: $basic-dark-grey;
  }
}

.range-controls__toggle {
  @media (min-width: $tablet-width) {
    position: absolute;
    border: 1px solid $basic-dark-grey;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $basic-white;
    box-shadow: (0px 1px 3px $basic-dark-grey);
    left: 47%;
    cursor: pointer;
  }
}

.range-controls__toggle:active {
  @media (min-width: $tablet-width) {
    border-color: $basic-green;
  }
}

.range-controls__toggle::after {
  @media (min-width: $tablet-width) {
    content: '';
    position: absolute;
    top: 35%;
    left: 35%;
    border: 1px solid $basic-green;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $basic-green;
  }
}

.range-controls__bar {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border: 1px solid $basic-green;
  width: 35px;
  height: 6px;
  border-radius: 10px;
  background-color: $basic-green;
  margin: 3px 3px;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.range-controls__description {
  text-transform: uppercase;
  margin: 0 20px;
  border: none;
  cursor: pointer;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $basic-dark-grey;
  }
}

.range-controls__description:hover {
  border-color: $basic-black;
}

.range-controls__description:active {
  border: none;
}
