.range-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 0 20px;
  padding: 0;
}

.range-controls__scale {
  border: 1px solid $basic-dark-grey;
  width: 84px;
  height: 14px;
  border-radius: 10px;
  background-color: $basic-white;
  margin: 0;
  padding: 0;
}

.range-controls__bar {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border: 1px solid $basic-green;
  width: 35px;
  height: 6px;
  border-radius: 10px;
  background-color: $basic-green;
  margin: 3px 3px;
  padding: 0;
}

.range-controls__description {
  text-transform: uppercase;
  margin: 0 20px
}
