.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 20px 70px;
  list-style-type: none;
  border-top: 1px solid $line-grey;
  border-bottom: 1px solid $line-grey;

  @media (min-width: $tablet-width) {
    justify-content: space-around;
    align-items: center;
    border: none;
    margin: 16px 50px;;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
  margin: 16px 160px;
  }
}
