//Fonts
$oswald: oswaldregular, "Open Sans", sans-serif;
$arial: "Arial", "Open Sans", sans-serif;

//Colors
$basic-white: #ffffff;
$basic-black: #000000;
$basic-green: #68b738;
$basic-dark-green: #5eaa2f;
$basic-grey: #f2f2f2;
$basic-light-grey: #e7e7e7;
$special-grey: #ebebeb;
$basic-dark-grey: #cdcdcd;
$special-dark-grey: #666666;
$basick-extra-dark-grey: #444444;
$special-extra-dark-grey: #222222;
$basic-beige: #eaeaea;
$status-error: #ff8282;
